BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: true
PointerAlignment : Left
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Linux
